/** css/yourtheme.css **/

/* This line is theme specific - it includes the base theme CSS */
/* @import 'theme.css';       for the Read the Docs theme */
@import 'palette.css';

html[data-theme="light"] {
    --pst-color-primary: var(--chapmanRed);
    --pst-color-secondary: var(--chapmanRed);
    --pst-color-background: #eaeaea;
    --pst-color-text-base: var(--bgDark);
}

html[data-theme="dark"] {
    --pst-color-primary: var(--ltBlue);
    --pst-color-secondary: var(--scCardinal);
    --pst-color-background: var(--bgDark);
    --pst-color-text-base: var(--cream);

}

/* Override darkening for dark mode */
img {
    filter:unset;
}